@font-face {
   font-family: 'NeoDunggeunmoPro-Regular';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

body {
   font-family: "NeoDunggeunmoPro-Regular";
   margin: 0px;
   width: 100%;
   height: 100%;
   background-color: #f6f6f6;
   display: flex;
   justify-content: center;
}

.App {
   padding-left: 20px;
   padding-right: 20px;
}